:root {
    --red:  #8C0343;
    --dark-red: #591B38;
    --white:  #F6F4F1;
    --grey: #262626;
    --black: #0D0D0D
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: auto; /* Ensure horizontal scroll */
    text-decoration: none;
}
a:link { 
    text-decoration: none; 
  } 
a:visited { 
    text-decoration: none; 
  } 
a:hover { 
    text-decoration: none; 
  } 
a:active { 
    text-decoration: none; 
  }
.image-container {
    position: relative;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    font-family: "lores-12", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2em;
}
.genre-link {
    color: var(--white);
}
#background-image {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 4 / 4;
}
.sections {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 4 / 4;
    display: grid;
    grid-template: repeat(40, 1fr) / repeat(40, 1fr);
}
.clickable {
    color: var(--white);
    background: var(--black);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    box-sizing: border-box;
    border: 5px var(--black);
}
.clickable span {
    min-width: 100%;
}
.goth-genre {
    grid-area: 6 / 20 / 9 / 22;
    justify-self: center;
}

.rock-genre {
    grid-area:10 / 14 / 12 / 16;
}
.metal-genre {
    grid-area: 10 / 25 / 12 / 28;
}
.punk-genre {
    grid-area: 20 / 15 / 22 / 17;
    justify-self: center;
}
.grunge-genre {
    grid-area: 24 / 29 / 27 / 31;
    justify-self: center;
    padding: 10px 40px;
}
.Post-punk-genre {
    grid-area: 18 / 35 / 21 / 37;
    padding: 30px;

}
.shoegaze-genre {
    grid-area: 29 / 10 / 31 / 15;
    padding: 10px 60px;
    justify-self: center;
}
.all-music-genre {
    grid-area: 36 / 20 / 39 / 22;
}
.area-label {
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: bold;
    pointer-events: none; /* Evita que el texto interfiera con los clics en el mapa */
}
@media only screen and (min-width: 320px) and (max-width: 1500px) {
    #background-image {
        width: 177.77vh;
        height: 100vh;
    }
    .clickable {
        width: 8vh;
        height: 4vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sections {
        width: 177.77vh;
        height: 100vh;
        /*background-color: rgba(0, 0, 0,0.5); */
        z-index: 2;

    }
} 
